eegexplorer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#time-series-chart svg .nv-axis path,
#time-series-chart svg .tick.major{
    stroke: white!important;
}
#time-series-chart svg {
    fill: rgba(240,240,240,0.5)!important;
}
#time-series-chart svg text {
    fill: white!important;
}
#time-series-chart svg .nvd3 > g > .nv-focus,
#time-series-chart svg .nvd3 > g > .nv-legendWrap
{
    display: none!important;
}
#time-series-chart svg{
    width: 100%;
    height: 100%;
}
#time-series-chart{
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 100;
    right: 0;
    bottom: 0;
}
#time-series-plot{
    display: none;
    background-color: rgba(240, 240, 240, 0.);
    width: 90%;
    height: 10%;
    position: absolute;
    top: 90%;
    left:5%;
}
