<rts-configuration-date-panel>
    <div class="panel-title">
        Date settings
    </div>
    <form>
        <div class="form-group">
            <label><span class="icon"><i class="ms-Icon ms-Icon--GroupedAscending"></i></span> From</label>
            <input type="text" data-role="calendarpicker" data-format="%d %B %Y" ref="start_input">
        </div>
        <div class="form-group">
            <label><span class="icon"><i class="ms-Icon ms-Icon--GroupedDescending"></i></span> To</label>
            <input type="text" data-role="calendarpicker" data-format="%d %B %Y" ref="end_input">
        </div>
    </form>

    <style>
        .panel-title {
            background-color: rgba(58, 139, 199, 1);
            color: white;
            padding: 5px 5px;
            font-size: 12px;
        }
        
        .input.calendar-picker .calendar *{
            cursor: default!important;
        }
        
    </style>

    <script>
        /* globals opts: false */
        /* globals jQuery: false */
        /* globals FileReader: false */
        //! class RTSConfigurationDatePanel
        //! <<UIComponent>> RTSConfigurationDatePanel

        /**************************************************************************
         * Helpers
         **************************************************************************/


        /**************************************************************************
         * Main script
         **************************************************************************/
        const self = this;
        const config = opts;
        //config.unit_names = !!config.unit_names ? config.unit_names : ["Unit A", "Unit 2", "Other unit", "D"];

        //! RTSConfigurationDatePanel: -create_event_on_calendar_inputs()
        const create_event_on_calendar_inputs = () => {
            const input_dates = ["start_input", "end_input"];
            const event_names = ["start", "end"];
            input_dates.forEach((input_date, k) => {
                //self.refs[input_date].onchange = (e) => self._trigger_event(event_names[k], jQuery(self.refs[input_date]).data("calendarpicker").val());
                self.refs[input_date].onchange = self._trigger_event(event_names[k], () => jQuery(self.refs[
                    input_date]).data("calendarpicker").val());
            });
        };

        //! RTSConfigurationDatePanel: -trigger_event(name, value)
        self._trigger_event = (name, _value) => {
            return () => self.trigger('app:request:change:model:date:' + name.toLowerCase(), {
                date: _value()
            });
        };

        //! RTSConfigurationDatePanel: +on_mount()
        self.on("mount", () => {
            create_event_on_calendar_inputs();
        });
    </script>
</rts-configuration-date-panel>