<rts-ribbon-menu-bar>
    <nav data-role="ribbonmenu">
        <ul class="tabs-holder" ref="tabs_holder">
            <!--
                <ribbon-tab-button type="static" label="File" onclick={_trigger_event('menubar:file');} />
            -->
            <ribbon-tab-button type="active" label="Data" href="#section_data" onclick={_trigger_event('menubar:data');} />
            <ribbon-tab-button label="View" href="#section_plots" onclick={_trigger_event('menubar:plots');} />
            <ribbon-tab-button label="Export" href="#section_reports" onclick={_trigger_event('menubar:export');} />
            <ribbon-tab-button label="Help" href="#section_help" onclick={_trigger_event('menubar:help');} />
            <ribbon-tab-button type="no-link placeright" linktype="mif-chevron-thin-down" label="" ref="toogle_menu_bar"/>
        </ul>

        <div class="content-holder">
            <div class="section" id="section_data">
                <div class="group">
                    <ribbon-simple-button label="Load CSV" icon="icon96 file-csv" iconpreffix="sf-icon--" onclick={_trigger_event('Load:CSV');} />
                    <ribbon-simple-button label="Load Excel" icon="icon96 file-excel" iconpreffix="sf-icon--" onclick={_trigger_event('Load:XLS');} disabled=true />
                    <span class="title">Dataset</span>
                </div>
                <div class="group">
                    <ribbon-simple-button class="data-related" label="Date settings" icon="icon96 calendar" iconpreffix="sf-icon--" onclick={_trigger_event('Settings:ModelDates');}  disabled=true/>
                    <ribbon-simple-button class="data-related" label="Change point settings" icon="icon96 calendar-changepoint" iconpreffix="sf-icon--" onclick={_trigger_event('Settings:ChangePoint');}  disabled=true/>
                    <span class="title">Settings</span>
                </div>
                <div class="group"></div>
            </div>

            <div class="section" id="section_plots">
                <!-- -->
                <div class="group">
                    <ribbon-simple-button class="data-related" label="Summary" icon="icon96 changepoint-summary" iconpreffix="sf-icon--" onclick={_trigger_event('View:Summary');}  disabled=true/>
                    <span class="title">Summary</span>
                </div>
                <div class="group">
                    <ribbon-simple-button class="data-related" label="Original series" icon="icon96 changepoint-raw-chart" iconpreffix="sf-icon--" onclick={_trigger_event('View:RawTimeSeries');}  disabled=true/>
                    <ribbon-simple-button class="data-related" label="Estimated model" icon="icon96 changepoint-chart" iconpreffix="sf-icon--" onclick={_trigger_event('View:EstimatedTimeSeries');}  disabled=true/>
                    <span class="title">Time series plot</span>
                </div>
                <div class="group">
                    <ribbon-simple-button class="data-related" label="Before change" icon="icon96 changepoint-pre-acf" iconpreffix="sf-icon--" onclick={_trigger_event('View:ModelBeforeChangePoint');}  disabled=true/>
                    <ribbon-simple-button class="data-related" label="After change" icon="icon96 changepoint-post-acf" iconpreffix="sf-icon--" onclick={_trigger_event('View:ModelAfterChangePoint');}  disabled=true/>
                    <span class="title">Model dependency</span>
                </div>
                <!--
                <div class="group">
                    <ribbon-simple-button label="Units" icon="icon96 changepoint-units" iconpreffix="sf-icon--" onclick={_trigger_event('View:Units');} />
                    <span class="title">Units</span>
                </div>
                -->
                <div class="group"></div>
            </div>

            <div class="section" id="section_reports">
                <div class="group">
                    <ribbon-simple-button label="DOCX report" icon="icon96 file-word" iconpreffix="sf-icon--" onclick={_trigger_event('Export:Report:DOCX');}  disabled=true/>
                    <ribbon-simple-button label="PDF report" icon="icon96 file-pdf" iconpreffix="sf-icon--" onclick={_trigger_event('Export:Report:PDF');}  disabled=true/>
                    <span class="title">Export report</span>
                </div>
                <div class="group">
                    <ribbon-simple-button label="Regression line" icon="icon96 table-plot" iconpreffix="sf-icon--" onclick={_trigger_event('Export:Tables:Regression');}  disabled=true/>
                    <ribbon-simple-button label="Analysis results" icon="icon96 table-green" iconpreffix="sf-icon--" onclick={_trigger_event('Export:Tables:Analysis');}  disabled=true/>
                    <ribbon-simple-button label="Inference results" icon="icon96 table-blue" iconpreffix="sf-icon--" onclick={_trigger_event('Export:Tables:Inference');}  disabled=true/>
                    <span class="title">Export tables</span>
                </div>
                <div class="group"></div>
            </div>

            <div class="section" id="section_help">
                <div class="group">
                    <ribbon-simple-button label="Model description" icon="icon96 book-paper" iconpreffix="sf-icon--" onclick={_trigger_event('Help:Model');}  disabled=true/>
                    <ribbon-simple-button label="Help" icon="icon96 life-buoy" iconpreffix="sf-icon--" onclick={_trigger_event('Help:Program');}  disabled=true/>
                    <span class="title">Help</span>
                </div>
                <div class="group"></div>
            </div>
        </div>
    </nav>

    <style>
        * {
            user-select: none;
        }
        
        .calendar-picker input {
            font-size: 13px;
        }

        .calendar-picker .calendar-header {
            background-color: rgba(28, 114, 172, 1);
            font-size: 13px;
        }

        .group.filtering .flex-column {
            min-width: 230px !important;
            text-align: right;
        }

        .group .flex-column {
            margin: auto !important;
        }

        .group.data-settings .flex-column:nth-child(2) {
            min-width: 230px !important;
            text-align: right;
        }

        .ribbon-button .input.calendar-picker input,
        .input-date .input.calendar-picker input {
            font-size: 100% !important;
        }

        .ribbon-button .spinner,
        .input-date .spinner {
            display: inline-flex;
            width: 140px !important;
            margin: 0px 0px 0px 10px;
            zoom: 0.8;
        }

        .ribbon-button .input.calendar-picker,
        .input-date .input.calendar-picker {
            display: -webkit-inline-box;
            width: fit-content !important;
            width: 200px !important;
            margin: 0px 0px 0px 10px;
            zoom: 0.8;
        }

        .ribbon-button .input.calendar-picker .drop-shadow calendar,
        .input-date .input.calendar-picker .drop-shadow calendar {
            zoom: 1.25;
        }

        /***/
        #section-data {
            min-width: 1200px;
        }

        /***/
        .ms-Double-Icon {
            display: block;
            position: absolute;
            zoom: 0.5;
            top: 26%;
            left: 34%;
            margin: auto;
        }

        .ribbon-button{
            min-width: 70px;
        }

        /***/


        [data-role="ribbonmenu"] * {
            cursor: default !important;
        }

        [data-role="ribbonmenu"] .tabs-holder {
            height: 25px !important;
            z-index: 1;
        }

        [data-role="ribbonmenu"] * {
            /*font-size: 99% !important;*/
        }

        [data-role="ribbonmenu"]>* {
            height: calc(100% - 5px);
        }

        [data-role="ribbonmenu"] .group>* {
            height: calc(100% - 4px);
        }

        [data-role="ribbonmenu"] .group>*>button {
            height: 100%;
        }

        [data-role="ribbonmenu"] .content-holder {
            height: 112px !important;
            z-index: 10;
            opacity: 1;
            transition: 200ms linear height;
            /*overflow: auto;*/
        }

        [data-role="ribbonmenu"] .content-holder::-webkit-scrollbar-thumb {
            background-color: rgba(165, 165, 165, 0.5);
        }

        [data-role="ribbonmenu"] .content-holder>* {
            opacity: 1;
            transition: 600ms linear opacity;
            padding-bottom: 0px !important;
        }

        [data-role="ribbonmenu"] .content-holder.hidden>* {
            opacity: 0;
            transition: 5ms linear opacity;
        }

        [data-role="ribbonmenu"] .tabs-holder {
            border-color: transparent;
        }

        [data-role="ribbonmenu"] .content-holder.hidden {
            height: 2px !important;
            overflow: hidden;
            background-color: transparent;
            transition: 200ms linear height, 600ms linear background-color;
        }

        [data-role="ribbonmenu"] .content-holder>div {
            height: 100%;
        }
    </style>

    <script>
        /* globals opts: false */

        /**************************************************************************
         * Helpers
         **************************************************************************/
        const allow_buttons_show_hide = (selector) => {
            self.refs.tabs_holder.querySelectorAll(selector).forEach((e) => {
                var lastClickTime = 0,
                    ticks = 0;
                e.addEventListener("click", (r) => {
                    let thisClickTime = (new Date).getTime();
                    if (thisClickTime - lastClickTime < 500) {
                        //Double-click
                        if (ticks % 2 == 0) {
                            self.root.querySelector('.content-holder').classList.add("hidden");
                        } else {
                            self.root.querySelector('.content-holder').classList.remove(
                                "hidden");
                        }
                    } else {
                        //Click
                        self.root.querySelector('.content-holder').classList.remove("hidden");
                        ticks++;
                    }
                    lastClickTime = thisClickTime;
                });
            });
        };

        /**************************************************************************
         * Main script
         **************************************************************************/
        const self = this;
        const config = opts;
        config.type = config.type !== undefined ? config.type : "";

        self._trigger_event = (name) => {
            return () => self.trigger('app:' + name.toLowerCase());
        };

        self.toogle_menu_bar = (e) => {
            self.root.querySelector('.content-holder').classList.toggle("hidden");
            (e !== undefined && e != null)? e.preventDefault(): null;
        };

        self.enable_model_related_buttons = () => {
            Array.from(self.root.querySelectorAll(".data-related")).forEach((el) => {
                el._tag.enable();
            });
        }

        self.on("mount", () => {
            self.refs.toogle_menu_bar.root.addEventListener("click", self.toogle_menu_bar)
            allow_buttons_show_hide("ribbon-tab-button:not([type~=no-link])");
            
        });
        
        //
    </script>
</rts-ribbon-menu-bar>