<rts-outline-panel>
    <div class="container-fluid p-0 h-100">
        <ul class="headers" data-role="tabs" data-expand="true">
            <li class="active"><a href="#outline-panel-blank">Default</a></li>
            <li><a class="unit-name-button" href="#outline-units">Unit names</a></li>
            <li><a class="plot-type-button" href="#outline-plots">Type of plots</a></li>
        </ul>
        <div class="h-100" style="background-color: #f5f6f7;">
            <div id="outline-panel-blank" class="h-100 w-100 tab">
            </div>
            <div id="outline-plots" class="h-100">
                <rts-outline-plots-panel ref="plots" />
            </div>
            <div id="outline-units" class="h-100">
                <rts-outline-units-panel ref="units" unit_names={opts.unit_names} />
            </div>
        </div>
    </div>

    <style>
        /****/
        ul.tabs-list.headers {
            display: none !important;
        }

        .panel-title {
            background-color: rgba(58, 139, 199, 1);
            color: white;
            padding: 5px 5px;
            font-size: 12px;
        }

        * {
            -webkit-user-drag: none !important;
            user-select: none;
            cursor: default;
        }
    </style>

    <script>
        /* globals opts: false */
        /* globals jQuery: false */
        /* globals FileReader: false */

        /**************************************************************************
         * Helpers
         **************************************************************************/


        /**************************************************************************
         * Main script
         **************************************************************************/
        const self = this;
        const config = opts;
        config.unit_names = !!config.unit_names ? config.unit_names : [];

        self.view_list_unit_names = () => {
            self.root.querySelector(".unit-name-button").click();
        };

        self.view_list_plot_types = () => {
            self.root.querySelector(".plot-type-button").click();
        };

        self.on("mount", () => {});
    </script>
</rts-outline-panel>