<!----
Sphere 3D Brain Viewer
======================
`<sphere-brain-viewer>`

* Version: 1.0

## External requeriments
```html
	<script src="./lib/three.js@55/three.js"></script>
	<script src="./lib/three.js@55/loaders/STLLoader.js"></script>
    <script src="./lib/three.js@55/controls/TrackballControls.js"></script>
```

## Inputs
* **component_light**: HTML Color
    - *default*: `'#FAFAFA'`
* **ambient_light**: HTML Color
    - *default*: `'#EEEEEE'`
* **electrode_locations**: Array of tuples: [electrode_name: string, x: float, y: float, z: float, enabled: int (1 or 0)]
    - *default*: 
    ```javascript
        [
            ["Cz", 0.0000, 0.0000, 1.0000, 1],
            ...
            ["P4", 0.4591, -0.5800, 0.6730, 1],
        ]```
    
## Methods
* `create_show_electrode_layout(layout)`
* `show_electrodes()`
* `show_electrode_map()`
* `change_electrode_color(electrode_name, r, g, b)`

## Events

---->
<sphere-brain-viewer>
    <div ref="container" class="viewer-webgl-container"></div>
    <div class="watermark">
        <div class="text">
            <div class="software">Brain connectivity viewer</div>
            <div class="institute">Biostatistics Group at KAUST</div>
        </div>
        <img src="./src/img/BK01.png" />
    </div>
    <style>
        .viewer-webgl-container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            background:
                radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
                url("./src/img/neurons.jpg");
            background-size: cover;
            overflow: hidden;
        }

        .watermark img {
            height: 50px;
            display: block;
            float: right;
            margin: 18px;
            opacity: 0.9;
        }

        .watermark .text .software {
            opacity: 0.85;
            font-size: 120%;
        }

        .watermark .text .institute {
            opacity: 0.5;
        }

        .watermark .text {
            padding-top: 20px;
            color: white;
            display: inline-block;
        }

        .watermark {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1001;
            background: transparent;
            width: 270px;
        }
    </style>

    <script>
        /* globals opts: false */
        /* globals THREE: false */
        /* globals requestAnimationFrame: false */

        /**************************************************************************
         * Helper functions
         **************************************************************************/
        
        // Give preference to inner* in case of using window as container
        const dom_width = (component) => (component.innerWidth || component.clientWidth);
        const dom_height = (component) => (component.innerHeight || component.clientHeight);

        // Force to re-render objects
        const re_render_objects = (scene, camera, renderer) => renderer.render(scene, camera);

        // Scene Setup
        function setup_scene(container) {
            const scene = new THREE.Scene();
            // Prepare camera
            const camera = new THREE.PerspectiveCamera(10, dom_width(container) / dom_height(container), 1, 1000);
            camera.position.set(-5, 12, 10);
            camera.lookAt(scene.position);
            const renderer = new THREE.WebGLRenderer({
                alpha: true,
                antialias: true,
            });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(dom_width(container), dom_height(container));
            container.appendChild(renderer.domElement);
            // On resize
            window.addEventListener('resize', () => {
                camera.aspect = dom_width(container) / dom_height(container);
                camera.updateProjectionMatrix();
            }, false);
            return [scene, camera, renderer];
        }

        // Trackball Controller
        function create_control(scene, camera, renderer, container) {
            const controls = new THREE.TrackballControls(camera, container);
            controls.rotateSpeed = 5.0;
            controls.zoomSpeed = 3.2;
            controls.panSpeed = 0.8;
            controls.noZoom = false;
            controls.noPan = true;
            controls.staticMoving = false;
            controls.dynamicDampingFactor = 0.2;
            // Render the scene when the controls have changed.
            // If you don’t have other animations or changes in your scene,
            // you won’t be draining system resources every frame to render a scene.
            controls.addEventListener('change', () => {
                re_render_objects(scene, camera, renderer);
            });
            // Resize
            window.addEventListener('resize', () => {
                renderer.setSize(dom_width(container), dom_height(container));
                controls.handleResize();
                re_render_objects(scene, camera, renderer);
            }, false);
            return controls;
        }

        // Lighting
        function add_light_to_scene(scene, ambient_light, component_light) {
            const ambientLight = new THREE.AmbientLight(ambient_light);
            scene.add(ambientLight);
            const hemiLight = new THREE.HemisphereLight(component_light, component_light, 0);
            hemiLight.position.set(0, 50, 0);
            scene.add(hemiLight);
            const light = new THREE.PointLight(component_light, 1, 100);
            light.position.set(0, 20, 10);
            scene.add(light);
        }

        // Utilities
        function add_axes(scene) {
            const axisHelper = new THREE.AxisHelper(1.25);
            scene.add(axisHelper);
        }

        // Render Loop
        // Avoid constantly rendering the scene by only
        // updating the controls every requestAnimationFrame
        function animationLoop(controls) {
            const _animation_loop = () => {
                requestAnimationFrame(_animation_loop);
                controls.update();
            };
            _animation_loop();
        }

        // 10-20 EEG positions
        function default_electrode_locations() {
            //c("Fp1","Fp2","F3","F4","C3","C4","P3","P4","O1","O2",
            //      "SP1", "SP2", "F7", "F8", "T3", "T4", "T5", "T6", "Fz", "Cz", "Pz")
            return [
                ["Cz", 0.0000, 0.0000, 1.0000],
                ["Fpz", 0.0000, 0.9511, 0.3090],
                ["Fz", 0.0000, 0.5878, 0.8090],
                ["Pz", 0.0000, -0.5878, 0.8090],
                ["Oz", 0.0000, -0.9511, 0.3090],
                ["T7", -0.9511, 0.0000, 0.3090],
                ["C3", -0.5878, 0.0000, 0.8090],
                ["C4", 0.5878, 0.0000, 0.8090],
                ["T8", 0.9511, 0.0000, 0.3090],
                ["Fp2", 0.2939, 0.9045, 0.3090], // Sp2
                ["F8", 0.7695, 0.5590, 0.3090],
                ["P8", 0.7695, -0.5590, 0.3090],
                ["O2", 0.2939, -0.9045, 0.3090],
                ["Fp1", -0.2939, 0.9045, 0.3090], // Sp1
                ["F7", -0.7695, 0.5590, 0.3090],
                ["P7", -0.7695, -0.5590, 0.3090],
                ["O1", -0.2939, -0.9045, 0.3090],
                ["F3", -0.4591, 0.5800, 0.6730],
                ["F4", 0.4591, 0.5800, 0.6730],
                ["P3", -0.4591, -0.5800, 0.6730],
                ["P4", 0.4591, -0.5800, 0.6730],
            ];
        }

        // Object Loader
        function create_brain(model_path, scene, camera, renderer) {
            const brain_material = new THREE.MeshPhongMaterial({
                color: 0xb47f6f,
                specular: 0x111111,
                shininess: 2000
            });
            var brain_mesh;
            new THREE.STLLoader().load(model_path, (geometry) => {
                brain_mesh = new THREE.Mesh(geometry, brain_material);
                brain_mesh.scale.set(0.01, 0.01, 0.01);
                brain_mesh.translateX(1.1);
                brain_mesh.translateY(0.81);
                brain_mesh.translateZ(0.91);
                geometry.center();
                // Be carefull! It took me too much time to calibrate this
                brain_mesh.position.set(0, 0, 0);
                brain_mesh.rotation.set(3.1416 * 0.5, -3.1416, 0);
                brain_mesh.scale.set(0.015, 0.015, 0.015);
                //
                brain_mesh.castShadow = true;
                brain_mesh.receiveShadow = true;
                scene.add(brain_mesh);
                re_render_objects(scene, camera, renderer);
            });
            return [brain_material, brain_mesh];
        }

        // Create electrodes
        function map_locations_to_spheres(electrode_locations, scene, camera, renderer) {
            const electrode_spheres = {};
            electrode_locations.forEach(electrode_location_data => {
                var electrode_geometry = new THREE.SphereGeometry(1, 32, 24);
                var electrode_material = new THREE.MeshPhongMaterial({
                    color: 0x333333,
                    specular: 0x111111,
                    shininess: 200,
                });
                var sphere = new THREE.Mesh(electrode_geometry, electrode_material);
                sphere.scale.set(0.1, 0.1, 0.1);
                sphere.position.set(
                    electrode_location_data[1] * 0.78,
                    electrode_location_data[3] - 0.309,
                    electrode_location_data[2]);
                //sphere.rotation.set(0, 0.1, -3.1416/2);
                if (electrode_location_data.length <= 4 || electrode_location_data[4] == 1) {
                    scene.add(sphere);
                }
                electrode_spheres[electrode_location_data[0].toLowerCase().trim()] = sphere;
            });
            re_render_objects(scene, camera, renderer);
            return electrode_spheres;
        }

        /**************************************************************************
         * Default options
         **************************************************************************/
        const self = this;
        const config = opts;
        config.component_light = config.component_light !== undefined ? config.component_light : '#FAFAFA';
        config.ambient_light = config.ambient_light !== undefined ? config.ambient_light : '#EEEEEE';
        config.electrode_locations = config.electrode_locations !== undefined ? config.electrode_locations :
            default_electrode_locations();


        /**************************************************************************
         * Main tasks
         **************************************************************************/
        self.on("mount", () => {
            const container = this.refs.container;
            const [scene, camera, renderer] = setup_scene(container);
            const controls = create_control(scene, camera, renderer, container);
            add_light_to_scene(scene, config.ambient_light, config.component_light);
            add_axes(scene);
            animationLoop(controls);
            //const [brain_material, brain_mesh] = 
            create_brain('./models/brain2.stl', scene, camera, renderer);
            // External interfaces
            let electrode_spheres = [];
            
            // Inner methods
            self.create_show_electrode_layout = (layout) => {
                //console.log(layout);
                config.electrode_locations = layout;
                self.show_electrodes();
            };
            self.show_electrodes = () => {
                if (electrode_spheres.length > 0) {
                    console.error("Electrodes already displayed");
                    return;
                }
                electrode_spheres = map_locations_to_spheres(config.electrode_locations, scene, camera,
                    renderer);
            };
            self.show_electrode_map = (electrode_names, vector, reference_index, color_callback) => {
                vector.forEach((v, j) => {
                    if (j == reference_index) return;
                    const identical_value = v == vector[reference_index];
                    const color = color_callback(identical_value);
                    self.change_electrode_color(electrode_names[j], color[0], color[1], color[2]);
                });
            };
            self.change_electrode_color = (electrode_name, r, g, b) => {
                electrode_name = electrode_name.toLowerCase().trim();
                if (!!electrode_spheres[electrode_name]) {
                    electrode_spheres[electrode_name].material.color = new THREE.Color(r, g, b);
                    re_render_objects(scene, camera, renderer);
                } else {
                    console.error("Electrode does not exist: " + electrode_name);
                }
            };
            this.update();
        });
    </script>

</sphere-brain-viewer>