<!----
Plain format file input
=======================
`<plain-file-input>`

* Version: 0.9 (not fully tested)

## External requeriments
```html
    <link rel="stylesheet" href="./lib/fomantic-ui@2.7.2/semantic.css">
    <script src="./lib/jquery@3.3.1/jquery.js"></script>
    <script src="./lib/fomantic-ui@2.7.2/semantic.js"></script>
```

## Inputs
* **file_filter**: list of objects
    - *default*: 
    ```javascript
    [
    {name: 'Data source (.CSV)',extensions: ['csv']},
    {name: 'All Files', extensions: ['*']}
    ]
    ```
* **placeholder**: String
    - *default*: "Choose a file"
* **load_content**: boolean
    - *default*: true
* **input_format**: string
    - *default*: "CSV"
* **dialog_properties**: list of strings
    - Defines the characteristics of the file input. See [Electron dialog API](https://electronjs.org/docs/api/dialog#dialogshowopendialogbrowserwindow-options-callback)
    - *default*: ['openFile']
    
## Methods
* `file_open(filename, callback, type_of_file="")`
    - `type_of_file` can be "", or "csv"`

## Events
* `loaded-file({filename: file path, content: file content, metadata: info generated during parsing})`

---->
<window-decorator>
    <div class="window main-window">
        <div class="window-caption">
            <virtual if={platform=='OSX' }>
                <div class="buttons win-buttons mac-side">
                    <span class="btn-min win-min"></span>
                    <span class="btn-max win-max"></span>
                    <span class="btn-close win-close"></span>
                </div>
            </virtual>
            <div class="buttons left-side">
                <yield from="left-title"></yield>
            </div>
            <span class="title">
                <yield from="title"></yield>
            </span>
            <div class="buttons right-side">
                <yield from="right-title"></yield>
            </div>
            <virtual if={platform!='OSX' }>
                <div class="buttons win-buttons win-side">
                    <span class="btn-min win-min"></span>
                    <span class="btn-max win-max"></span>
                    <span class="btn-close win-close"></span>
                </div>
            </virtual>
        </div>
        <yield from="menu-bar"></yield>
        <div class="window-content">
            <yield from="content"></yield>
        </div>
    </div>

    <style>
        /****/

        .main-window {
            border: none !important;
            background: transparent;
            height: 100%;
            /*font-size: 9pt;*/
        }

        .main-window span,
        .main-window div,
        .main-window {
            font-family: "Noto Sans";
        }

        [class^="ms-Icon"] {
            font-family: 'FabricMDL2Icons' !important;
        }

        .main-window .window-content {
            background-color: rgb(224, 224, 224);
            border: none !important;
            border-left: rgba(255, 255, 255, 0.5) solid 1px !important;
            border-right: rgba(255, 255, 255, 0.5) solid 1px !important;
            border-bottom: rgba(255, 255, 255, 0.5) solid 1px !important;
            bottom: 0;
            left: 0;
            right: 0;
            height: -webkit-fill-available;
        }

        .main-window .window-caption .mac-side {
            opacity: 0;
        }

        .main-window .window-caption .title {
            text-align: center;
            /*font-size: 120%;*/

        }

        .main-window .window-caption .title div,
        .main-window .window-caption .title span {
            display: inline-block;
            display: inline-flex;
        }

        .main-window .window-caption .side {
            display: inline-block;
            display: inline-flex;
        }

        .main-window .window-caption .side>div,
        .main-window .window-caption .side>input,
        .main-window .window-caption .side>span {
            display: inline-block;
            display: inline-flex;
        }

        .main-window .window-caption {
            -webkit-user-select: none;
            -webkit-app-region: drag;
            background: transparent;
            min-height: 36px;
        }

        .main-window .window-caption * {
            cursor: default !important;
        }

        .main-window,
        .main-window .window-caption .buttons *[class|=btn],
        .main-window .window-caption * {
            font-size: 12px;
        }

        .main-window .window-caption .buttons * {
            -webkit-app-region: no-drag;
            background-color: transparent;
            transition: 600ms linear background-color;
        }

        .main-window .window-caption .buttons *[class|=btn]:hover {
            background-color: rgba(180, 180, 180, 0.5);
            transition: 600ms linear background-color;
            color: #ffffff;
        }

        .main-window .window-caption .buttons .btn-custom::before {
            top: -0.15rem;
            position: relative;
        }

        .main-window .window-caption .buttons .btn-custom:hover {
            color: #ffffff !important;
        }

        .main-window .window-caption .buttons .btn-close:hover {
            background-color: rgba(199, 80, 80, 1);
            color: #ffffff;
            transition: 600ms linear background-color;
        }
        
        *::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: rgba(245, 245, 245, 0.7);
        }

        *::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: rgba(245, 245, 245, 0.7);
        }

        *::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: rgba(85, 85, 85, 0.5);
        }

    </style>

    <script>
        /* globals opts: false */

        /**************************************************************************
         * Helpers
         **************************************************************************/
        function electronIsInstalled() {
            try {
                require("electron");
                return true;
            } catch (error) {}
            return false;
        }

        function platform() {
            if (self.electronIsInstalled) {
                const remote = require('electron').remote;
                const platform = remote.process.platform;
                if (platform.indexOf("darwin") >= 0 || platform.indexOf("mac") >= 0) {
                    return "OSX";
                } else if (platform.indexOf("win") >= 0) {
                    return "WIN";
                } else {
                    return "";
                }
            }
            return "";
        }

        /**************************************************************************
         * Main script
         **************************************************************************/
        const self = this;
        const config = opts;
        const self$ = jQuery(self.root);
        const reader = new FileReader();
        self.electronIsInstalled = electronIsInstalled();
        self.platform = platform();

        self.on("mount", () => {
            if (self.electronIsInstalled) {
                const remote = require('electron').remote;
                const this_window = remote.getCurrentWindow();
                var closeWindow = () => this_window.close()
                var maximizeWindow = () => !this_window.isMaximized() ? window.maximize() : window.unmaximize()
                var minimizeWindow = () => this_window.minimize()
                self.root.querySelector(".main-window .win-close").addEventListener("click", () => this_window.close());
                self.root.querySelector(".main-window .win-max").addEventListener("click", () => !this_window.isMaximized() ?
                    this_window.maximize() : this_window.unmaximize());
                self.root.querySelector(".main-window .win-min").addEventListener("click", () => this_window.minimize());
            }
            document.body.classList.remove("hidden");
        });
    </script>
</window-decorator>