<rts-plot>
  <div class="simple-plot w-100 h-100">
    <div data-role="appbar" class="pos-relative z-dropdown">
      <!--

            <a href="#" class="brand">Brand name</a>
            <a href="#" class="brand no-hover">Brand name</a>
            <div class="no-hover">
              <div class="label-1 label brand no-hover" hide={series_1.enabled}></div>
              <div class="label-2 label brand no-hover" hide={series_2.enabled}></div>
            </div>
          -->
      <button id="print" class="button pageDown" title="Print">
        <span class="mif-printer"></span>
      </button>
    </div>
    <div class="plot-container"></div>
  </div>
  <style>
    /****/
    .app-bar button {
      height: 34px !important;
      width: 34px !important;
      padding: 0;
      cursor: default;
    }

    .app-bar {
      text-align: left;
      display: block;
      min-height: 25px;
      height: 42px;
      padding: 3px;
      background: #f5f6f7;
    }

    .simple-plot {
      border: 1px solid #bbbec2;
      box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }

    .plot-container {
      padding-top: 10px;
      height: calc(100% - 70px);
      width: calc(100% - 30px);
      left: 0;
    }

    .dygraph-legend,
    .dygraph-legend .legend-time {
      background: rgb(237, 237, 237);
    }

    .dygraph-legend .legend-values {
      background: #f5f6f7;
    }

    .dygraph-legend {
      position: absolute;
      width: 100px;
      border: 1px solid rgb(205, 205, 205);
      zoom: 0.8;
    }

    .legend-container {
      padding: 5px;
    }

    .label {
      height: 20px;
      padding: 5px;
      user-select: text;
      cursor: text;
    }

    .legend-label {
      padding-right: 5px;
      filter: brightness(100%);
      font-weight: bold;
    }

    * {
      -webkit-user-drag: none !important;
      user-select: none;
      cursor: default;
    }
  </style>

  <script>
    /* globals opts: false */
    /* globals jQuery: false */
    /* globals FileReader: false */

    /**************************************************************************
     * Helpers
     **************************************************************************/


    /**************************************************************************
     * Main script
     **************************************************************************/
    const self = this;
    const config = opts;
    config.width = !!config.width ? config.width : "100%";
    config.height = !!config.height ? config.height : "400px";

    self.series_1 = {
      enabled: true,
      x: 0,
      y: 0
    }
    self.series_2 = {
      enabled: true,
      x: 0,
      y: 0
    }

    self.view_blank = () => {
      self.root.querySelector(".outline-blank-button").click();
    };

    self.view_list_unit_names = () => {
      self.root.querySelector(".unit-name-button").click();
    };

    self.view_list_plot_types = () => {
      self.root.querySelector(".plot-type-button").click();
    };

    var gdata = "X,Y1,Y2\n";
    for (var i = 0; i < 100; i++) {
      //gdata += i + "," + i + "," + (i * (100 - i) * 100 / (50 * 50)) + "\n";
      gdata += i + "," + Math.random() + "," + 0.5 * Math.random() + "\n";
    }

    const legendFormatter = (data) => {
      if (data.x == null) {
        data.x = "";
        data.xHTML = "";
      }
      let html = `
        <div class='legend-container'>
        <div class='legend-title'>
        </div>
        <div class='legend-values'>
          <div class='legend-time'>
            <span class='legend-label'>Time</span>
            <span class='legend-value'>${data.xHTML}</span>
          </div>
      `
      data.series.forEach((series, index) => {
        if (typeof series.yHTML == "undefined") series.yHTML = ""
        html += `
          <div class='series-${index + 1} ${series.isHighlighted?'highlighted':''}'>
            <span class='legend-label' style='color:${series.color}; '>${series.labelHTML}</span>
            <span class='legend-value'>${series.yHTML}</span>
          </div>
        `
      });
      return html + "</div></div>";
    }

    self.on("mount", () => {
      self.root.style.cssText += `width: ${config.width}; height: ${config.height}; display: block;`
      var g3 = new Dygraph(
        self.root.querySelector(".plot-container"),
        gdata, {
          fillGraph: true,
          fillAlpha: 0.9,
          series: {
            Y2: {
              fillAlpha: 0.1
            }
          },
          //legend: 'always',
          legend: 'follow',
          legendFormatter: legendFormatter,
        }
      );
    });
  </script>
</rts-plot>