<rts-configuration-panel>
    <div class="container-fluid p-0 h-100">
        <ul class="headers" data-role="tabs" data-expand="true">
            <li class="active"><a href="#config-panel-blank">Default</a></li>
            <li><a class="date-settings-button" href="#date-settings">Date settings</a></li>
            <li><a class="change-point-settings-button" href="#change-point-settings">Change point settings</a></li>
        </ul>
        <div class="h-100" style="background-color: #f5f6f7;">
            <div id="config-panel-blank" class="h-100 w-100 tab">
            </div>
            <div id="date-settings" class="h-100 tab">
                <rts-configuration-date-panel ref="date"></rts-configuration-date-panel>
            </div>
            <div id="change-point-settings" class="h-100 tab">
                <rts-configuration-changepoint-panel ref="changepoint"></rts-configuration-changepoint-panel>
            </div>
        </div>
    </div>

    <style>
        /****/
        ul.tabs-list.headers{
            display: none!important;
        }

        .input.calendar-picker {
            left: 0;
        }

        input[data-validate],
        .input {
            zoom: 0.8;
        }

        .input.calendar-picker .calendar {
            top: 100% !important;
            bottom: unset !important;
            z-index: 500000 !important;
        }

        * {
            -webkit-user-drag: none !important;
            user-select: none;
            cursor: default;
        }

        .tab form {
            padding: 6px;
            padding-top: 10px;
        }

        .tabs-list {
            text-align: center;
        }
    </style>

    <script>
        /* globals opts: false */
        /* globals jQuery: false */
        /* globals FileReader: false */

        /**************************************************************************
         * Helpers
         **************************************************************************/


        /**************************************************************************
         * Main script
         **************************************************************************/
        const self = this;
        const config = opts;
        config.unit_names = !!config.unit_names ? config.unit_names : ["Unit A", "Unit 2", "Other unit", "D"];
        
        self.view_date_settings = () => {
            self.root.querySelector(".date-settings-button").click();
        };
        
        self.view_change_point_settings = () => {
            self.root.querySelector(".change-point-settings-button").click();
        };

        self.on("mount", () => {
        });
    </script>

</rts-configuration-panel>